@font-face {
  font-family: "iconfont"; /* Project id 3978403 */
  src: url('iconfont.woff2?t=1680850790904') format('woff2'),
       url('iconfont.woff?t=1680850790904') format('woff'),
       url('iconfont.ttf?t=1680850790904') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anniu:before {
  content: "\e690";
}

.icon-liebiao:before {
  content: "\e608";
}

.icon-biaoge:before {
  content: "\e621";
}

.icon-LINE_CHART:before {
  content: "\e9a8";
}

.icon-HISTOGRAM:before {
  content: "\e9a9";
}

.icon-PIE_CHART:before {
  content: "\e9aa";
}

