.Reticule {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: -1;

    .x {
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(103, 250, 177);
    }

    .y {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(103, 250, 177);
    }
}