@mixin scroll {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #6663;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}